<nav class="mb5">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a routerLink="/search">Pesquisar</a></li>
    <li class="breadcrumb-item active" aria-current="page">Detalhes da Denúncia</li>
  </ol>
</nav>
<div *ngIf="this.data" class="d-flex " style="background-color: #e9f6fe; min-height: 100vh; width: 100%; flex-direction: row;">

  <div class="body-fetch d-flex justify-content-center align-items-center" style="background-color: #e9f6fe; min-height: 100vh; width: 100%; float: left; flex-direction: column;  position: relative;">
    <div class="card shadow mt-3" style="width: 50rem; height: max-content;">
      <div class="card-body">

        <div class="status-denun mb-4">
          <div class="div-img mr-4"   matTooltipPosition="above"
               matTooltip="Clique para ir para a Localização da denúncia">
            <a href="#">
              <img class="img-loc" src="../../../../assets/images/logoMaps.png" alt="Ir Para Localização">
            </a>
          </div>

          <div class="status-box">
            <h5 style="color: #058950;">STATUS</h5>
            <span style="font-size: 14px;">Denúncia: <a style="color: red; font-size: 14px;">{{data.denunciation.code}}</a> </span>
            <span style="font-size: 14px;">{{data.denunciation.timestamp | date: 'dd/MM/yyyy  h:mm a'}}</span>
          </div>

          <div class="descript">
            {{data.statusDenunciation.details}}
          </div>
        </div>

        <hr>


        <mat-horizontal-stepper *ngIf="loadingStepper" [selectedIndex]="currentStepper.selectedIndex"   linear #stepper>
          <ng-template *ngIf="currentStepper.selectedIndex == 4" matStepperIcon="number">
            <mat-icon >done</mat-icon>
          </ng-template>

          <mat-step  [completed]="currentStepper.completed[0]" [editable]="false" >
            <ng-template matStepLabel>Não Enviada</ng-template>
          </mat-step>

          <mat-step [completed]="currentStepper.completed[1]"  [editable]="false" >
            <ng-template matStepLabel>Recebida</ng-template>
          </mat-step>

          <mat-step  [completed]="currentStepper.completed[2]" [editable]="false" >
            <ng-template matStepLabel>Em Análise</ng-template>

          </mat-step>

          <mat-step [completed]="currentStepper.completed[3]" [editable]="false" >
            <ng-template matStepLabel>Encaminhada</ng-template>

          </mat-step>

          <mat-step [completed]="currentStepper.completed[4]"   [editable]="false" >
            <ng-template matStepLabel>Finalizada</ng-template>

          </mat-step>

        </mat-horizontal-stepper>

        <div class="info-container d-flex justify-content-around">

          <div class="box-column d-flex justify-content-center ">
            <div class="item-box-column mb-3" style="height: max-content;">
              <div class="title-box d-flex justify-content-center ">
                <span class="title-info">Dados do Relator</span>
              </div>

              <div *ngIf="data.denunciation.anonymous" class="denuncia d-flex justify-content-left" style="color: red; text-align: center;">
                Denúncia Anônima!
              </div>

              <div *ngIf="!data.denunciation.anonymous" class="relator d-flex justify-content-left">
                <span class="info">{{data.denunciation.user.name}}</span>
                <a class="info text-link" href="{{'mailto:' + data.denunciation.user.email}}" >{{data.denunciation.user.email}}</a>
                <span class="info">(92) {{data.denunciation.user.contact}}</span>
              </div>
            </div>

            <div class="item-box-column mb-3" style="height: max-content;">

              <div class="photos-container">
                <ngx-gallery [options]="galleryOptions" [images]="galleryImages" class="ngx-gallery"></ngx-gallery>
              </div>
            </div>
          </div>

          <div class="info-user">
            <div class="title-box d-flex justify-content-center">
              <span class="title-info">Informações da Denúncia</span>
            </div>

            <div  class="denuncia d-flex justify-content-left">
              <span class="info">Área {{data.denunciation.urban ? 'Urbana' : 'Rural'}}</span>
              <span class="info">{{data.denunciation.city}} - {{data.denunciation.state}}</span>
              <span class="info" style="display: flex; flex-direction: row;">
                <a class="text-link"  target="_blank" href="{{'http://maps.google.com/?q='+ data.denunciation.latitude + ',' + data.denunciation.longitude}}" matTooltipPosition="above"
                   matTooltip="Clique para ir para a Localização da denúncia">Rua {{data.denunciation.street}}, Nº {{data.denunciation.number}} - {{data.denunciation.district}} </a>
                <i class="material-icons" style="font-size: 20px; margin-left: 5px;">place</i>
              </span>
              <span class="info">{{data.denunciation.zipcode}}</span>
              <span class="info">Referência: {{data.denunciation.reference}}</span>

              <div class="info-descript mt-2">
                <span style="color: #058950;">Tipo: </span>  {{data.denunciation.type}}
              </div>

              <div class="info-descript mt-2">
                <span style="color: #058950;">Descrição: </span> {{data.denunciation.description}}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="card shadow mt-4 mb-4" style="width: 95%; height: max-content; ">

      <p-table #dt [columns]="colsStatus" styleClass="ui-table-cars" [value]="tableData"  >
        <ng-template pTemplate="header" let-columns>
          <tr>
            <th *ngFor="let col of columns" [ngClass]="col.field" >
              {{col.header}}

            </th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowData let-columns="columns" let-rowIndex="rowIndex">
          <tr [pSelectableRow]="rowData" [pEditableRow]="rowData" >
            <td>
              <div [ngClass]="setStatus(rowData.status)" matTooltipPosition="above"
                   matTooltip="{{toolTipDescription(rowData.status)}}"  style="justify-content: center; width: 100%; height: 25px; float: left; border-radius: 4px; display: flex;  ">
                <span style="float: left; font-weight: bold; position: relative; top: 2px;">{{textStatus}}</span >
              </div>
            </td>
            <td style="text-align: center;">{{rowData.description}}</td>
            <td style="text-align: center;">

              <div class="row" >
                <div class="col-6">
                  <span style="font-weight: bold">Início: </span>
                  <p> {{rowData.period[0]}}</p>
                </div>
                <div class="col-6">
                  <span style="font-weight: bold" >Término: </span>
                  <p> {{rowData.period[1]?rowData.period[1]: 'EM ABERTO'}}</p>
                </div>
              </div>


            </td>
            <td style="text-align: center;">

              <p-button icon="pi pi-file-pdf" [disabled]="!rowData.file"  (onClick)=" openLink(rowData.file)" label="Download"></p-button>


            </td>

          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>


</div>

