:host ::ng-deep{

  .ng-trigger.ng-trigger-overlayAnimation.ng-tns-c113-0.ui-datepicker.ui-widget.ui-widget-content.ui-helper-clearfix.ui-corner-all.ui-shadow.ng-star-inserted {
    min-width: 365px;
}


}




.send{
  background: #0074a2 !important;
  color:#fff;
  text-align: center;
}

.progress{
  background: #dd9933 !important;
  color:#fff;
  text-align: center
}

.done{
  background: #81d742 !important;
  color:#fff;
  text-align: center
}

.forwarded{
  background: #a01497 !important;
  color:#fff;
  text-align: center
}


.cleaner{
  top: 14px;
  position: relative;
  transition: .4s;
}

.cleaner{
  top: 14px;
  position: relative;
  transition: .4s;
  font-size: 20px;
  cursor: pointer;
}

.cleaner:hover{
  font-size: 25px;
  // transform: scale(1);
}




body{
  background-color: #e8f5fd !important;
}


.div-spin{
  padding: 10px;

}

tr.ui-selectable-row.ng-star-inserted {
  outline: none;
}




@media (max-width: 575.98px) {

  :host ::ng-deep{

    input.ng-tns-c113-0.ui-inputtext.ui-widget.ui-state-default.ui-corner-all.ng-star-inserted {
      width: 100%  !important;
    }

    .ng-trigger.ng-trigger-overlayAnimation.ng-tns-c113-0.ui-datepicker.ui-widget.ui-widget-content.ui-helper-clearfix.ui-corner-all.ui-shadow.ng-star-inserted {
        min-width: 355px !important;
    }

    .card.shadow.mt-3.cardDenun {
      width: 26rem !important;
    }

    .mat-horizontal-stepper-header-container {
      white-space: nowrap !important;
      display: flex !important;
      align-items: center !important;
      flex-wrap: wrap !important;
      justify-content: center !important;
    }
  }

  div#status {
    justify-content: center !important;
    width: 63% !important;
    height: 25px !important;
    position: relative !important;
    float: right !important;
    border-radius: 4px !important;
    display: flex !important;
  }
 

  // .visible-text-button {
  //   display: none;
  // }
  .div-span{
    display: flex;
    text-align: justify !important;
  }

  // button#btn-action {
  //   position: relative;
  //   float: left;
  //   left: 50%;
  //   transform: translateX(-50%);
  // }
  

 }



@media (min-width: 576px) and (max-width: 767.98px) {

  :host ::ng-deep{

    input.ng-tns-c113-0.ui-inputtext.ui-widget.ui-state-default.ui-corner-all.ng-star-inserted {
      width: 100%  !important;
    }

    .ng-trigger.ng-trigger-overlayAnimation.ng-tns-c113-0.ui-datepicker.ui-widget.ui-widget-content.ui-helper-clearfix.ui-corner-all.ui-shadow.ng-star-inserted {
        min-width: 355px !important;
    }

  }
  .div-span{
    display: flex;
    text-align: justify !important;
  }

  div#status {
    justify-content: center !important;
    width: 63% !important;
    height: 25px !important;
    position: relative !important;
    float: right !important;
    border-radius: 4px !important;
    display: flex !important;
  }

  // button#btn-action {
  //   position: relative;
  //   float: left;
  //   left: 50%;
  //   transform: translateX(-50%);
  // }
  

  // .visible-text-button {
  //   display: none;
  // }


 }




@media (min-width: 768px) and (max-width: 991.98px) {

  :host ::ng-deep{

    input.ng-tns-c113-0.ui-inputtext.ui-widget.ui-state-default.ui-corner-all.ng-star-inserted {
      width: 100%  !important;
    }

    .ng-trigger.ng-trigger-overlayAnimation.ng-tns-c113-0.ui-datepicker.ui-widget.ui-widget-content.ui-helper-clearfix.ui-corner-all.ui-shadow.ng-star-inserted {
        min-width: 365px !important;
    }

  }
  // .visible-text-button {
  //   display: none;
  // }



 }


@media (min-width: 992px) and (max-width: 1199.98px) {

  :host ::ng-deep{

    input.ng-tns-c113-0.ui-inputtext.ui-widget.ui-state-default.ui-corner-all.ng-star-inserted {
      width: 100%  !important;
    }

    .ng-trigger.ng-trigger-overlayAnimation.ng-tns-c113-0.ui-datepicker.ui-widget.ui-widget-content.ui-helper-clearfix.ui-corner-all.ui-shadow.ng-star-inserted {
        min-width: 365px !important;
    }
  }

  button.btn.btn-outline-primary.ng-star-inserted {
    display: flex !important;
    flex-direction: column !important;
    align-items: center !important;
  }
 }


@media (min-width: 1200px) {
  :host ::ng-deep{

    input.ng-tns-c113-0.ui-inputtext.ui-widget.ui-state-default.ui-corner-all.ng-star-inserted {
      width: 100%  !important;
    }

    .ng-trigger.ng-trigger-overlayAnimation.ng-tns-c113-0.ui-datepicker.ui-widget.ui-widget-content.ui-helper-clearfix.ui-corner-all.ui-shadow.ng-star-inserted {
        min-width: 365px !important;
    }

  }

  .box-eco{
    background-color: #e9f6fe;
    min-height: 100vh;
    width: 100%;
    flex-direction: row;
  }

  input.ui-inputtext.ui-corner-all.ui-state-default.ui-widget {
    width: 40% !important;
  }

 }


 @media (min-width: 1360px) {

   :host ::ng-deep{

    input.ng-tns-c113-0.ui-inputtext.ui-widget.ui-state-default.ui-corner-all.ng-star-inserted {
      width: 100%  !important;
    }

    .ng-trigger.ng-trigger-overlayAnimation.ng-tns-c113-0.ui-datepicker.ui-widget.ui-widget-content.ui-helper-clearfix.ui-corner-all.ui-shadow.ng-star-inserted {
        min-width: 365px !important;
    }

  }

}







@media screen and (max-width: 40em){
  body .ui-table.ui-table-responsive .ui-table-tbody > tr td {
      border: 0 none;
  }

  .ui-table-responsive .ui-table-tbody>tr>td {
    text-align: left;
    display: block;
    border: 0;
    width: 100%!important;
    box-sizing: border-box;
    float: left;
    clear: left;
  }
}
body .ui-table .ui-table-tbody > tr > td {
    background-color: inherit;
    border: 1px solid #c8c8c8;
    -moz-transition: box-shadow 0.2s;
    -o-transition: box-shadow 0.2s;
    -webkit-transition: box-shadow 0.2s;
    transition: box-shadow 0.2s;
}

body .ui-table .ui-table-tbody > tr > td {
    padding: 0.571em 0.857em;
}



body .ui-table .ui-table-tbody > tr {
  background-color: #ffffff;
  color: #333333;
  -moz-transition: background-color 0.2s, box-shadow 0.2s;
  -o-transition: background-color 0.2s, box-shadow 0.2s;
  -webkit-transition: background-color 0.2s, box-shadow 0.2s;
  transition: background-color 0.2s, box-shadow 0.2s;
}