.send{
  background: #0074a2 !important;
  color:#fff;
  text-align: center;
}

.progress{
  background: #dd9933 !important;
  color:#fff;
  text-align: center
}

.done{
  background: #81d742 !important;
  color:#fff;
  text-align: center
}

.forwarded{
  background: #a01497 !important;
  color:#fff;
  text-align: center
}




body{
  background-color: #e8f5fd !important;
}
