<div class="card ">
  <div class="card-body">

     <p-table #dt [columns]="cols"  [paginator]="true" [rows]="8" [value]="DATA">
        <ng-template pTemplate="caption">
            <div style="text-align: right">
                <i class="fa fa-search" style="margin:4px 4px 0 0"></i>

                <input type="text" pInputText size="50" placeholder="Global Filter" (input)="dt.filterGlobal($event.target.value, 'contains')" style="width:auto">
               <!-- -->
            </div>
        </ng-template>
        <ng-template pTemplate="header" let-columns>
            <tr>
                <th *ngFor="let col of columns"  [pSortableColumn]="col.field" style="text-align: center;">
                    {{col.header}}
                  <p-sortIcon [field]="col.field" ariaLabel="Activate to sort" ariaLabelDesc="Activate to sort in descending order" ariaLabelAsc="Activate to sort in ascending order"></p-sortIcon>

                </th>

            </tr>
            <tr>
                <th *ngFor="let col of columns" [ngSwitch]="col.field">
                    <input *ngSwitchCase="'code'" pInputText type="text" (input)="dt.filter($event.target.value, col.field, 'contains')" style="width:100%;" > <!---->
                    <div *ngSwitchCase="'year'">
                        <!-- Value > {{yearFilter}} -->
                        <i class="fa fa-close"  style="cursor:pointer" ></i> <!--(click)="yearFilter=null;dt.filter(null, col.field, col.filterMatchMode)"    *ngIf="yearFilter"-->
                        <p-slider [style]="{'width':'100%','margin-top':'8px'}"  [min]="1970" [max]="2010" ></p-slider> [(ngModel)]="yearFilter"  (onChange)="onYearChange($event, dt)"-->
                    </div>
                    <p-dropdown  [options]="city" *ngSwitchCase="'city'" [style]="{'width':'100%'}"  (onChange)="dt.filter($event.value, col.field, 'contains')"></p-dropdown> <!--  (onChange)="dt.filter($event.value, col.field, 'equals')"-->
                    <!-- <p-multiSelect  [options]="colors" *ngSwitchCase="'city', 'date'"  defaultLabel="All Colors" ></p-multiSelect>  (onChange)="dt.filter($event.value, col.field, 'in')"-->
                    <!-- <input  pInputText type="text" placeholder="Custom - Greater Than" > *ngSwitchCase="'price'" (input)="dt.filter($event.target.value, col.field, 'custom')"-->
                    <p-dropdown  [options]="type" *ngSwitchCase="'type'" [style]="{'width':'100%'}"  (onChange)="dt.filter($event.value, col.field, 'contains')" ></p-dropdown>
                    <p-dropdown  [options]="status" *ngSwitchCase="'status'" [style]="{'width':'100%'}"  (onChange)="dt.filter($event.value, col.field, 'contains')"></p-dropdown>
<!--                    <input *ngSwitchCase="'date'" pInputText type="text" style="width: 100%" (input)="dt.filter($event.target.value, col.field, 'contains')" >-->
                    <div *ngSwitchCase="'date'"  >
                      <p-calendar *ngSwitchCase="'date'" (onClearClick)="onClearClick(col, dt)" (onSelect)="onSelectDateFilter($event, col, dt)" showButtonBar="true" [locale]="pt" [style]="{'width':'140%'}" [(ngModel)]="dateSeach"></p-calendar>
                    </div>

                    <p-dropdown  [options]="state" *ngSwitchCase="'state'" [style]="{'width':'100%'}" (onChange)="dt.filter($event.value, col.field, 'contains')" ></p-dropdown>

                    <div *ngSwitchCase="'action'" >
                      <!-- <button style="display: flex; flex-direction: row;" type="button" class="btn btn-outline-primary">Vizualizar
                        <i class="material-icons ml-2" >visibility</i>
                      </button> -->
                    </div>
                </th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowData let-columns="columns">
            <tr [pSelectableRow]="rowData">
                <td *ngFor="let col of columns" style="text-align: -webkit-center;">

                  <span *ngIf="col.field == 'code' ">{{rowData[col.field ]}}</span>
                  <span *ngIf="col.field == 'type' ">{{rowData[col.field ]}}</span>
                  <span *ngIf="col.field == 'date' ">{{rowData[col.field ] | date: 'dd/MM/yyyy hh:mm aa'}}</span>
                  <span *ngIf="col.field == 'city' ">{{rowData[col.field ]}}</span>
                  <span *ngIf="col.field == 'state' ">{{rowData[col.field ]}}</span>


                  <div [ngClass]="setStatus(rowData[col.field])"  *ngIf="col.field == 'status'" style="justify-content: center; width: 100%; height: 25px; float: left; border-radius: 4px; display: flex; ">
                   <span style="float: left; font-weight: bold; position: relative; top: 2px;">{{textStatus}}</span >
                  </div>

                  <button *ngIf="col.field == 'action' " style="display: flex; flex-direction: row;" type="button" class="btn btn-outline-primary" (click)="viewDenunciation(rowData['code'])">Vizualizar
                    <i class="material-icons ml-2" >visibility</i>
                  </button>

<!--
                  <span  >asdfasdfasdf</span> -->
<!--
                    {{rowData[col.field ]}} -->
                </td>
            </tr>


        </ng-template>
      </p-table>
  </div>
</div>

