<div class="container">
  <div class="main">
   <div class="row justify-content-between align-items-center">
     <h2 class="ml-4">

       Sou Eco!

       &gt; Use and Privacy Policy</h2>
     <img style="width: 420px; height: 70px; border-radius: 50px; padding: 0px 30px 0px 30px"  src="../assets/images/logoSouECO.png" alt="logo">
   </div>
    <hr>
    <div class="content">
        <p>
          Amazonas State University (UEA) and Amazonas State Court of Auditors (TCE-AM) built the “Sou Eco!” Application as a free application. This SERVICE is provided by UEA and TCE-AM at no cost and must be used as is.
          This page is used to inform visitors about the policies for the collection, use and disclosure of personal information, if someone decides to use the application.
        </p>
        <p>
          If you choose to use the app, you agree to the collection and use of the information in relation to this policy.
        </p>
        <p>
          The personal information we collect will be used to provide and improve the service. Your information will not be used or shared with anyone, except as described in this Privacy Policy.
          The terms used in this Privacy Policy have the same meanings as in our Terms and Conditions, accessible at Sou Eco! unless otherwise defined in this Privacy Policy.
        </p>
        <p>
          <strong>Information Collection and Use</strong>
        </p>
        <p>
          For a better experience, when using our Service, we may ask you to provide us with certain personally identifiable information. The requested information will be retained on your device and will not be collected in any way. The application uses third party services that may collect information used to identify you.
        </p>
      <p>
        Follow the link for the privacy policy of third party service providers used by the application

      </p>
      <ul>
        <li>
          <a href="https://www.google.com/policies/privacy/" target="_blank">Google Play Services</a>
        </li>
      </ul>
      <p>
        <strong>Log Data</strong>
      </p>
      <p>
        Whenever you use my Service, in case of an error in the application, I collect data and information (through third party products) on your phone called Log Data. This registration data may include information such as the device's IP address, device name, operating system version, application configuration when using my service, the time and date of using the service, and other statistics.
      </p>
      <p>
        <strong>Cookies</strong>
      </p>
      <p>
        Cookies are files with a small amount of data that are commonly used as anonymous unique identifiers. They are sent to the browser from the websites visited and stored in the device's internal memory.
        This service does not use these "cookies" explicitly. However, the application may use third-party code and libraries that use "cookies" to collect information and improve its services. You have the option to accept or decline these cookies and to know when a cookie is being sent to your device. If you choose to decline our cookies, you may be unable to use some parts of this Service.
      </p>
      <p>
        <strong>Service providers</strong>
      </p>
      <p>
        We may employ third party companies and individuals for the following reasons:
      </p>
      <ul>
        <li>To facilitate our service;</li>
        <li>Provide the service on our behalf;</li>
        <li>Perform service-related services; or</li>
        <li>To help us analyze how our Service is used.</li>
      </ul>
      <p>
        We wish to inform users of this Service that these third parties have access to their Personal Information. The reason is to perform the tasks assigned to them on our behalf. However, they are required not to disclose or use the information for any other purpose.
      </p>
      <p>
        <strong>Safety</strong>
      </p>
      <p>
        We value your confidence in providing us with your personal information, therefore, we are striving to use commercially acceptable means of protecting it. But remember that no method of transmission over the Internet or method of electronic storage is 100% safe and reliable, and we cannot guarantee its absolute security.
      </p>
      <p>
        <strong>Links to other sites</strong>
      </p>
      <p>
        This service may contain links to other sites. If you click on a third party link, you will be directed to that site. Please note that these external sites are not operated by us. Therefore, I strongly recommend that you review the Privacy Policy of those sites. We have no control over and assume no responsibility for the content, privacy policies or practices of third party sites or services.
      </p>
      <p>
        <strong>Children's privacy</strong>
      </p>
      <p>
        These services do not deal with children under 13. We do not knowingly collect personally identifiable information from children under the age of 13. In the event that we discover that a child under the age of 13 has provided us with personal information, we will delete it immediately from our servers. If you are a parent or guardian and know that your child has provided us with personal information, please contact me so that we can take the necessary actions.
      </p>

    </div>
  </div>
  <div>
    <img class="img-footer"  src="../assets/images/footer.png" alt="footer">
  </div>
</div>
