.content {
  max-width: 1580px;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
.perfil {
  color: #717171;  width: max-content; float: right; cursor: pointer;
}

.activeNav{
  color: #058950 !important;
}

a#red {
  color: #717171;
}

a#den {
  color: #717171;
}


.red {
  display: block;
  padding: .5rem 1rem;
  text-decoration: none;
}




@media (max-width: 575.98px) { 

  div#nav-desktop {
    display: none !important;
  }
  img#logoeco {
    display: none;
  }

  img#logoMobile {
    display: block;
  }

  h4#h4title {
    display: none !important;
  }

  div#logout {
    display: none !important;
  }
  img#logoMobile {
    width: 280px;
    height: 50px;
    border-radius: 50px;
    padding: 0px 30px 0px 30px;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) and (max-width: 767.98px) { 

  div#nav-desktop {
    display: none !important;
  }
  img#logoeco {
    display: none;
  }

  img#logoMobile {
    display: block;
  }

  h4#h4title {
    display: none !important;
  }

  div#logout {
    display: none !important;
  }

  img#logoMobile {
    width: 280px;
    height: 50px;
    border-radius: 50px;
    padding: 0px 30px 0px 30px;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 991.98px) { 
  div#nav-desktop {
    display: none !important; 
  }

  img#logoeco {
    display: none;
  }

  img#logoMobile {
    display: block;
  }

  h4#h4title {
    display: none !important;
  }

  div#logout {
    display: none !important;
  }

  img#logoMobile {
    width: 300px;
    height: 50px;
    border-radius: 50px;
    padding: 0px 30px 0px 30px;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) and (max-width: 1199.98px) { 

  div#nav-desktop {
    display: none !important;
  }
  
  img#logoeco {
    display: none;
  }

  img#logoMobile {
    display: block;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { 
  div#navbarNav {
    justify-content: space-between;
  }

  img#logoMobile {
    display: none;
  }
  ul#menuList {
    display: none;
  }



}

@media (min-width: 1360px) { 
  div#navbarNav {
    justify-content: space-between;
  }

  img#logoMobile {
    display: none;
  }
  ul#menuList {
    display: none;
  }



}

@media (min-width: 1920px) { 
  div#navbarNav {
    justify-content: space-between;
  }
  img#logoMobile {
    display: none;
  }

  ul#menuList {
    display: none;
  }
  



}