<div class="d-flex justify-content-center align-items-center mb-3" style="
width: 100%;
    height: 72px;
    background: linear-gradient(to top right, #e9f5fd, #e9f5fd);
    flex-direction: row;
    justify-content: space-around !important;
    padding-bottom: 0px;
    border: 0px solid rgba(0,0,0,.125);
    /* border-bottom: 2px solid #312929; */
    box-shadow: 0px 1px 15px -4px grey;


">

  <img style="width: 420px; height: 70px; border-radius: 50px; padding: 0px 30px 0px 30px"  src="../assets/images/logoSouECO.png" alt="">
  <h4 style="margin: 0; height: max-content; color: #ffffff;">DENÚNCIAS - APP SOU ECO!</h4>

  <div style="display: flex; flex-direction: row;">
    <div style="width: 150px; height: max-content; display: table;
    justify-content: right;" >
      <span style="font-weight: bolder; font-size: 20px; width: max-content; float: right;">{{name}}</span>
      <a class="perfil" matTooltipPosition="above"
         matTooltip="Visualizar Perfil" (click)="dialogUser()">Meu Perfil</a>
    </div>

    <i style="font-size: 37px; cursor: pointer;  color: #000000;" matTooltipPosition="above"
       matTooltip="Clique para encerrar sessão" class="material-icons ml-3" (click)="confirmDialog()">exit_to_app</i>
  </div>


</div>

<div class="content">
  <router-outlet></router-outlet>

</div>
