<div class="d-flex justify-content-center align-items-center mb-3" style="width: 100%; height: 70px; background: #058950;
flex-direction: row; justify-content: space-around !important; ">

  <img style="width: 260px; height: 70px;" src="../assets/images/soueco.png" alt="">
  <h4 style="margin: 0; height: max-content; color: #ffffff;">DENÚNCIAS - APP SOU ECO!</h4>

  <div style="display: flex; flex-direction: row;">
    <div style="width: 150px; height: max-content; display: table;
    justify-content: right;" >
      <span style="font-weight: bolder; font-size: 20px; width: max-content; float: right;  color: #ffffff;"> Fabio Jones</span>
      <a style="color: #000;  width: max-content; float: right;" href="#">Meu Perfil</a>
    </div>

    <i style="font-size: 37px; cursor: pointer;  color: #ffffff;" matTooltipPosition="above"
       matTooltip="Clique para encerrar sessão" class="material-icons ml-3" (click)="confirmDialog()">exit_to_app</i>
  </div>


</div>
<router-outlet></router-outlet>
