<div class="d-flex justify-content-center align-items-center" style="width: 100%; height: 70px; background: #e8f5fd;
flex-direction: row; justify-content: space-around !important; ">

  <img style="width: 450px; height: 70px;" src="../assets/images/logoSouECO.png" alt="">
  <h4 style="margin: 0; height: max-content;">DENÚNCIAS - APP SOU ECO!</h4>

  <div style="display: flex; flex-direction: row;">
    <div style="width: 150px; height: max-content; display: table;
    justify-content: right;" >
      <span style="font-weight: bolder; font-size: 20px; width: max-content; float: right;"> Fabio Jones</span>
      <a style="color: #717171;  width: max-content; float: right;" href="#">Meu Perfil</a>
    </div>

    <i style="font-size: 37px; cursor: pointer;" matTooltipPosition="above"
      matTooltip="Clique para encerrar sessão" class="material-icons ml-3">exit_to_app</i>
  </div>


</div>

<router-outlet></router-outlet>
