<nav class="mb5">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
    <li class="breadcrumb-item"><a routerLink="/denunciations">Denúncias</a></li>
    <li class="breadcrumb-item active" aria-current="page">Detalhes da Denúncia</li>
  </ol>
</nav>
<div *ngIf="this.data" class="d-flex " style="background-color: #e9f6fe; min-height: 100vh; width: 100%; flex-direction: row;">

  <div class="body-fetch d-flex justify-content-center align-items-center" style="background-color: #e9f6fe; min-height: 100vh; width: 100%; float: left; flex-direction: column;  position: relative;">
    <div class="card shadow mt-3 cardDenun" >
      <div class="card-body">

        <div class="status-denun mb-4">
          <div class="div-img mr-4"   matTooltipPosition="above"
               matTooltip="Clique para ir para a Localização da denúncia">
            <a href="#">
              <img class="img-loc" src="../../../../assets/images/logoMaps.png" alt="Ir Para Localização">
            </a>
          </div>

          <div class="status-box">
            <h5 id="stausText" style="color: #058950;">STATUS</h5>
            <span style="font-size: 14px;">Denúncia: <a style="color: red; font-size: 14px;">{{data.denunciation.code}}</a> </span>
            <span style="font-size: 14px;">{{data.denunciation.timestamp | date: 'dd/MM/yyyy  h:mm a'}}</span>
          </div>

          <div class="descript">
            {{data.statusDenunciation.details}}
          </div>
        </div>

        <hr>
        <!-- <div class="logo-login mb-4"></div> -->

        <mat-horizontal-stepper *ngIf="loadingStepper" [selectedIndex]="currentStepper.selectedIndex"   linear #stepper>
          <ng-template *ngIf="currentStepper.selectedIndex == 4" matStepperIcon="number">
            <mat-icon >done</mat-icon>
          </ng-template>

          <mat-step  [completed]="currentStepper.completed[0]" [editable]="false" >
            <ng-template matStepLabel>Não Enviada</ng-template>
          </mat-step>

          <mat-step [completed]="currentStepper.completed[1]"  [editable]="false" >
            <ng-template matStepLabel>Recebida</ng-template>
          </mat-step>

          <mat-step  [completed]="currentStepper.completed[2]" [editable]="false" >
            <ng-template matStepLabel>Em Análise</ng-template>
            <!-- <p>You are now done.</p>
            <div>
              <button mat-button matStepperPrevious>Back</button>
              <button mat-button (click)="stepper.reset()">Reset</button>
            </div> -->
          </mat-step>

          <mat-step [completed]="currentStepper.completed[3]" [editable]="false" >
            <ng-template matStepLabel>Encaminhada</ng-template>
            <!-- <p>You are now done.</p>
            <div>
              <button mat-button matStepperPrevious>Back</button>
              <button mat-button (click)="stepper.reset()">Reset</button>
            </div> -->
          </mat-step>

          <mat-step [completed]="currentStepper.completed[4]"   [editable]="false" >
            <ng-template matStepLabel>Finalizada</ng-template>
            <!-- <p>You are now done.</p>
            <div>
              <button mat-button matStepperPrevious>Back</button>
              <button mat-button (click)="stepper.reset()">Reset</button>
            </div> -->
          </mat-step>

        </mat-horizontal-stepper>

        <div class="info-container d-flex justify-content-around">

          <div class="box-column d-flex justify-content-center ">
            <div class="item-box-column mb-3" style="height: max-content;">
              <div class="title-box d-flex justify-content-center ">
                <span class="title-info">Dados do Relator</span>
              </div>

              <div *ngIf="data.denunciation.anonymous" class="denuncia d-flex justify-content-left" style="color: red; text-align: center;">
                Denúncia Anônima!
              </div>

              <div *ngIf="!data.denunciation.anonymous" class="relator d-flex justify-content-left">
                <span class="info">{{data.denunciation.user.name}}</span>
                <a class="info text-link" href="{{'mailto:' + data.denunciation.user.email}}" >{{data.denunciation.user.email}}</a>
                <span class="info">(92) {{data.denunciation.user.contact}}</span>
              </div>
            </div>

            <div class="item-box-column mb-3" style="height: max-content;">

              <div class="photos-container">
                <ngx-gallery [options]="galleryOptions" [images]="galleryImages" class="ngx-gallery"></ngx-gallery>
<!--                <div style="height: 100%;" id="carouselExampleControls" class="carousel slide" data-ride="carousel">-->
<!--                  <div class="carousel-inner">-->
<!--                    <div  *ngFor="let file of data.denunciation.files; let i = index" class="carousel-item {{i?'': 'active'}}">-->
<!--                      <img style="height: 200px;" class="d-block w-100" src="{{file.url}}" alt="{{file.name}}">-->
<!--                    </div>-->
<!--                    &lt;!&ndash;                    <div class="carousel-item">&ndash;&gt;-->
<!--                    &lt;!&ndash;                      <img style="height: 200px;" class="d-block w-100" src="../../../../assets/teste/eco2.gif" alt="Second slide">&ndash;&gt;-->
<!--                    &lt;!&ndash;                    </div>&ndash;&gt;-->
<!--                    &lt;!&ndash;                    <div class="carousel-item">&ndash;&gt;-->
<!--                    &lt;!&ndash;                      <img style="height: 200px;" class="d-block w-100" src="../../../../assets/teste/eco3.jpeg" alt="Third slide">&ndash;&gt;-->
<!--                    &lt;!&ndash;                    </div>&ndash;&gt;-->
<!--                  </div>-->
<!--                  <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">-->
<!--                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>-->
<!--                    <span class="sr-only">Previous</span>-->
<!--                  </a>-->
<!--                  <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">-->
<!--                    <span class="carousel-control-next-icon" aria-hidden="true"></span>-->
<!--                    <span class="sr-only">Next</span>-->
<!--                  </a>-->
<!--                </div>-->
              </div>
            </div>
          </div>

          <div class="info-user">
            <div class="title-box d-flex justify-content-center">
              <span class="title-info">Informações da Denúncia</span>
            </div>

            <div  class="denuncia d-flex justify-content-left">
              <span class="info">Área {{data.denunciation.urban ? 'Urbana' : 'Rural'}}</span>
              <span class="info">{{data.denunciation.city}} - {{data.denunciation.state}}</span>
              <span class="info" style="display: flex; flex-direction: row;">
                <a class="text-link"  target="_blank" href="{{'http://maps.google.com/?q='+ data.denunciation.latitude + ',' + data.denunciation.longitude}}" matTooltipPosition="above"
                   matTooltip="Clique para ir para a Localização da denúncia">Rua {{data.denunciation.street}}, Nº {{data.denunciation.number}} - {{data.denunciation.district}} </a>
                <i class="material-icons" style="font-size: 20px; margin-left: 5px;">place</i>
              </span>
              <span class="info">{{data.denunciation.zipcode}}</span>
              <span class="info">Referência: {{data.denunciation.reference}}</span>

              <div class="info-descript mt-2">
                <span style="color: #058950;">Tipo: </span>  {{data.denunciation.type}}
              </div>

              <div class="info-descript mt-2">
                <span style="color: #058950;">Descrição: </span> {{data.denunciation.description}}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="card shadow mt-4 mb-4" style="width: 95%; height: max-content; ">
      <p-button class="displayButton mt-2" icon="pi pi-plus" [disabled]="data.statusDenunciation.state_id === 5"  (onClick)="showBasicDialog(null)" label="Novo Status"></p-button>

      <p-table #dt [columns]="colsStatus" styleClass="ui-table-cars" [value]="tableData" [responsive]="true" >
        <ng-template pTemplate="header" let-columns>
          <tr>
            <th *ngFor="let col of columns" [ngClass]="col.field" > <!-- [pSortableColumn]="col.field" [ngSwitch]="col.field" -->
              {{col.header}}

            </th>
            <th style="width: 8em; text-align: center;">

              <p-button icon="pi pi-plus" [disabled]="data.statusDenunciation.state_id === 5"  (onClick)="showBasicDialog(null)" label="Novo Status"></p-button>

            </th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowData let-columns="columns" let-rowIndex="rowIndex">
          <tr [pSelectableRow]="rowData" [pEditableRow]="rowData" >
            <td>
              <div [ngClass]="setStatus(rowData.status)" matTooltipPosition="above"
                   matTooltip="{{toolTipDescription(rowData.status)}}"  style="justify-content: center; width: 100%; height: 25px; float: left; border-radius: 4px; display: flex;  ">
                <span style="float: left; font-weight: bold; position: relative; top: 2px;">{{textStatus}}</span >
              </div>
            </td>
            <td style="text-align: center;">{{rowData.description}}</td>
            <td style="text-align: center;">
              <!-- <img src="assets/showcase/images/demo/car/{{rowData.brand}}.png" style="width: 50px; margin-right: 1em; vertical-align: middle;"> -->
              <div class="row periodresp"   >
                <div class="col-6 col-md-12 col-lg-12 col-xl-12">
                  <span style="font-weight: bold">Início: </span>
                  <p> {{rowData.period[0]}}</p>
                </div>
                <div class="col-6 col-md-12 col-lg-12 col-xl-12">
                  <span style="font-weight: bold" >Término: </span>
                  <p> {{rowData.period[1]?rowData.period[1]: 'EM ABERTO'}}</p>
                </div>
              </div>


            </td>
            <td style="text-align: center;">

              <!--                    <a style="float: left; background: #058950; height: 30px !important; display: flex; width: 120px;border-radius: 5px; text-align: center; justify-content: center; color: #fff;" target="_blank" href="{{rowData.file}}">-->
              <!--                      <mat-icon aria-hidden="false" aria-label="Example home icon">archive</mat-icon>-->
              <!--                    <span style=" position: relative; height: max-content; top: 4px;">Protocolo</span>-->

              <!--                    </a>-->
              <p-button icon="pi pi-file-pdf" [disabled]="!rowData.file"  (onClick)=" openLink(rowData.file)" label="Download"></p-button>


            </td>
            <td style="text-align: center;">
              <button pButton type="button" (click)="showBasicDialog(rowData)" class="ui-button-success" icon="pi pi-pencil" style="margin-right: .5em"></button>
              <p-button icon="pi pi-trash"  styleClass="ui-button-danger" [disabled]="rowIndex==0 "  (onClick)="deleteStatus(rowData)" ></p-button>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>


</div>




<p-dialog header="{{currentAction==='edit'? 'Atualizando': 'Novo'}} Status da Denúncia" [(visible)]="displayModal" [modal]="true" [style]="{width: '30vw'}" [baseZIndex]="10000">
  <!-- <div style="width: 250px !important; position: relative; display: flex; min-height: 400px; flex-direction: column; padding: 5px; background: #fff; border-radius: 11px;"> -->
  <div class="d-flex flex-column" style="min-height: 400px">
    <div class="d-flex justify-content-between align-items-center flex-wrap" >
      <img class="img-fluid mb-3 mt-3 mr-2" src="../../../../assets/images/logoTCE.png" alt="">
    <!-- this.currentAction === 'edit' -->
      <p-dropdown  [disabled]="true" class="mr-1" [options]="status" [(ngModel)]="selectedStatus"  (onChange)="onSelect($event)" placeholder="Selecione o Status" optionLabel="viewValue" [showClear]="true"></p-dropdown>
    </div>
    <form [formGroup] = "statusForm" *ngIf="isValidSelect" class="d-flex flex-column flex-fill">
      <div  class="input-group mb-3 mt-3 d-flex flex-column flex-fill">
        <div class="text-danger" *ngIf="statusForm.get('details').invalid && statusForm.get('details').touched">
          <div *ngIf="statusForm.get('details').errors.required"> Dado Obrigatório </div>
          <div *ngIf="statusForm.get('details').errors.minlength"> Deve ter no mínimo 60 caracteres.  </div>
        </div>
        <span style="color: #058950;">Descrição:</span>
        <textarea maxlength="1000" class="form-control" aria-label="With textarea" formControlName="details" style="font-size: 15px; resize: none; width: 100%;"></textarea>
      </div>

      <div *ngIf="viewUpload" class="input-group mb-3" style="display: flex; flex-direction: column; ">
        <div class="text-danger" *ngIf="statusForm.get('file').invalid && statusForm.get('file').touched">
          <div *ngIf="statusForm.get('file').errors.required"> Dado Obrigatório </div>
        </div>
        <mat-label  style="color: #058950;">Protocolo:</mat-label>
        <div class="custom-file">
          <input type="file" class="custom-file-input" formControlName="file" id="inputGroupFile01" (change)="uploadFile($event)" aria-describedby="inputGroupFileAddon01">
          <label class="custom-file-label" for="inputGroupFile01">{{fileName? fileName: 'Anexar o protocolo'}}</label>
        </div>
      </div>
    </form>
    <div *ngIf="!isValidSelect && selectedStatus">
      <h2> É necessário atualizar os status anteriores para acrescentar este status. </h2>
    </div>
  </div>
  <!-- </div> -->
  <p-footer>
    <button [disabled]="loading" type="button" pButton icon="pi pi-check" (click)="onSubmit()" label="Salvar"></button>
    <button type="button" pButton icon="pi pi-times" (click)="cancelSubmit()" label="Cancelar" class="ui-button-secondary"></button>
  </p-footer>
</p-dialog>
