<div class="card ">
    <div class="card-body">

      <div class="p-col-8 box-label-input" >
        <label style="margin: 0; font-size: 14px; margin-bottom: 4px;"   >Email principal para recebimento de Denúncias</label>

        <div *ngIf="loadingPrimaryEmail" style="position: relative; display: flex; flex-direction: row; margin-bottom: 20px;">
          <span style="margin: 0; color: #058950; font-size: 16px;">Carregando ...</span>
        </div>
        <div *ngIf="!loadingPrimaryEmail&&displayEmailPrimary" style="position: relative; display: flex; flex-direction: row; margin-bottom: 20px;">
          <span style="margin: 0; color: #058950; font-size: 16px;">{{primaryRecipient?.email || "Email não cadastrado"}}</span>

          <span matTooltipPosition="above" matTooltip="Editar Email Principal" style="margin-left: 10px; font-size: 19px; cursor: pointer;" class="material-icons" (click)="editEmail()">edit</span>
        </div>

        <div *ngIf="!loadingPrimaryEmail&&!displayEmailPrimary" style="position: relative; display: flex; flex-direction: row;">
          <input class="input-email"  pInputText  [(ngModel)]="primaryRecipient.email"  (keyup.enter)="updateEmail()"/>
          <div style="text-align:left">
            <button  type="button" pButton icon="pi pi-check" label="Salvar" (click)="updateEmail()"  style="background-color: #058950 !important;
            border: 1px solid #058950; margin-left: 5px;"></button>
          </div>
        </div>
      </div>



        <p-table [columns]="cols" [value]="secondaryRecipients"   selectionMode="single" [(selection)]="selectedDirection" (onRowSelect)="onRowSelect($event)" [paginator]="true" [rows]="8" [responsive]="true">
            <ng-template pTemplate="caption">
                Lista de Destinatários
            </ng-template>
            <ng-template pTemplate="header" let-columns>
                <tr style="background-color: #058950 !important; border: 1px solid #058950;">
                    <th *ngFor="let col of columns" [pSortableColumn]="col.field">
                        {{col.header}}
                        <p-sortIcon [field]="col.field"></p-sortIcon>
                    </th>
                </tr>
            </ng-template>
            <ng-template  pTemplate="body" let-rowData let-columns="columns">
                <tr [pSelectableRow]="rowData" >
                    <td *ngFor="let col of columns">
                        {{col.field !=  'include_primary' ? rowData[col.field] : ''}}
                        <span *ngIf="col.field == 'include_primary' ">{{rowData[col.field] ? 'Sim' : 'Não'}}</span>
                    </td>
                </tr>
            </ng-template>

            <ng-template pTemplate="summary" let-rowData>
                <div style="text-align:left">
                    <button type="button" pButton icon="pi pi-plus" (click)="showDialogToAdd()" label="Adicionar" style="background-color: #058950 !important;
                    border: 1px solid #058950;"></button>
                </div>
            </ng-template>
        </p-table>

        <p-dialog [header]="!isModeEditForm?'Novo Destinatário': 'Editar Destinatário'"  [(visible)]="displayDialog" [focusOnShow]="false" [responsive]="true" showEffect="fade" [modal]="true"  [style]="{width: '300px'}">
            <form [formGroup]="recipientForm"  class="p-grid ui-fluid" *ngIf="selectedDirection">
                <!-- <div class="p-col-4">
                    <label for="name">Nome</label>
                </div> -->
                <div class="p-col-8 box-label-input">
                    <label class="label-dialog-dest" for="name">Nome</label>
                    <input pInputText id="name" formControlName="name"  autofocus autocomplete="none"  />
                    <div class="text-danger" *ngIf="recipientForm.get('name').invalid && recipientForm.get('name').touched">
                      <div *ngIf="recipientForm.get('name').errors.required">Nome é obrigatório</div>
                      <div *ngIf="recipientForm.get('name').errors.minlength">Deve ter no mínimo 6 caracteres</div>
                    </div>
                </div>

                <!-- <div class="p-col-4">
                    <label for="email">Email</label>
                </div> -->
                <div class="p-col-8 box-label-input">
                    <label class="label-dialog-dest" for="email">Email</label>
                    <input pInputText id="email" formControlName="email"  />
                    <div class="text-danger" *ngIf="recipientForm.get('email').invalid && recipientForm.get('email').touched">
                      <div *ngIf="recipientForm.get('email').errors.required">Email é obrigatório</div>
                      <div *ngIf="recipientForm.get('email').errors.email">Email não é válido</div>
                    </div>
                </div>

                <!-- <div class="p-col-4">
                    <label for="denunciation_type">Tipo</label>
                </div> -->
                <div class="p-col-8 box-label-input">
                    <label class="label-dialog-dest" >Tipo</label>
                    <p-dropdown [options]="denunciation_type_options" formControlName="denunciation_type"  placeholder="Selecione o Tipo" optionLabel="name" ></p-dropdown>
                    <!-- <input pInputText id="denunciation_type" [(ngModel)]="selectedDirection.denunciation_type" /> -->
                    <div class="text-danger" *ngIf="recipientForm.get('denunciation_type').invalid && recipientForm.get('denunciation_type').touched">
                      <div *ngIf="recipientForm.get('denunciation_type').errors.required">Tipo de denúncia é obrigatório</div>
                    </div>
                </div>
<!--
                <div class="p-col-4">
                    <label for="city">Cidade</label>
                </div> -->
                <div class="p-col-8 box-label-input">
                    <label  class="label-dialog-dest" for="city">Cidade</label>
                    <input pInputText id="city" formControlName="city" autocomplete="none"  />
                    <div class="text-danger" *ngIf="recipientForm.get('city').invalid && recipientForm.get('city').touched">
                      <div *ngIf="recipientForm.get('city').errors.required">A Cidade é obrigatória</div>
                    </div>
                </div>
<!--+
                <div class="p-col-4">
                    <label for="state">Estado</label>
                </div> -->
                <div class="p-col-8 box-label-input">
                    <label class="label-dialog-dest" for="state">Estado</label>
                    <input pInputText id="state" formControlName="state"  autocomplete="none" />
                    <div class="text-danger" *ngIf="recipientForm.get('state').invalid && recipientForm.get('state').touched">
                      <div *ngIf="recipientForm.get('state').errors.required">O Estado é obrigatório</div>
                    </div>
                </div>

                <!-- <div class="p-col-4">
                    <label for="country">País</label>
                </div> -->
                <div class="p-col-8 box-label-input">
                    <label class="label-dialog-dest" for="country">País</label>
                    <input pInputText id="country" formControlName="country" autocomplete="none" />
                    <div class="text-danger" *ngIf="recipientForm.get('country').invalid && recipientForm.get('country').touched">
                      <div *ngIf="recipientForm.get('country').errors.required">O País é obrigatório</div>
                    </div>
                </div>

                <div class="p-col-8 box-label-input">
                  <!-- <label style="margin: 0;" for="country">Email Primário</label> -->
                  <p-checkbox label="Email Primário" formControlName="include_primary"  binary="true"></p-checkbox>
                  <!-- <p-triStateCheckbox  [(ngModel)]="selectedDirection.include_primary" label="Email Primário"></p-triStateCheckbox> -->
                  <!-- <input pInputText id="country" [(ngModel)]="recipient.country" /> -->
              </div>
            </form>
            <p-footer>
                <div class="ui-dialog-buttonpane ui-helper-clearfix">
                    <button *ngIf="isModeEditForm" [disabled]="submittingForm || recipientForm.invalid" style="background-color: #d70404 !important; float: left; border: 1px solid #d70404;" type="button" pButton icon="pi pi-times" label="Remover" (click)="removeRecipient()" ></button>
                    <button [disabled]="submittingForm || recipientForm.invalid"  style="background-color: #058950 !important; float: right; border: 1px solid #058950;" type="button" pButton icon="pi pi-check"  label="Salvar" (click)="saveRecipient()"></button>
                </div>
            </p-footer>
        </p-dialog>








       <!-- (click)="delete()"  (click)="save()" <p-table #dt [columns]="cols"  [paginator]="true" [rows]="8" [value]="DATA" [responsive]="true">
          <ng-template pTemplate="caption">
              <div style="text-align: right">
                  <i class="fa fa-search" style="margin:4px 4px 0 0"></i>

                  <input type="text" pInputText  placeholder="Filtro Geral" (input)="dt.filterGlobal($event.target.value, 'contains')" style="width: 65%">
              </div>
          </ng-template>
          <ng-template pTemplate="header" let-columns>
              <tr>
                  <th *ngFor="let col of columns"  [pSortableColumn]="col.field" style="text-align: center;">
                      {{col.header}}
                    <p-sortIcon [field]="col.field" ariaLabel="Activate to sort" ariaLabelDesc="Activate to sort in descending order" ariaLabelAsc="Activate to sort in ascending order"></p-sortIcon>
                  </th>

              </tr>
              <tr>
                  <th *ngFor="let col of columns" [ngSwitch]="col.field">
                      <input *ngSwitchCase="'code'" pInputText type="text" (input)="dt.filter($event.target.value, col.field, 'contains')" style="width:100%;" >


                      <div class="form-group mb-0" *ngSwitchCase="'city'" >
                        <select class="form-control" id="exampleFormControlSelect1" (change)="dt.filter($event.target.value, col.field, 'contains')">
                          <option *ngFor="let op of city" value="{{op.value}}" >{{op.label}}</option>
                        </select>
                      </div>

                      <div class="form-group mb-0" *ngSwitchCase="'type'">
                        <select class="form-control" id="exampleFormControlSelect1" (change)="dt.filter($event.target.value, col.field, 'contains')">
                          <option *ngFor="let tp of type" value="{{tp.value}}" >{{tp.label}}</option>
                        </select>
                      </div>


                      <div class="form-group mb-0" *ngSwitchCase="'state'" >
                        <select class="form-control mb-0" id="exampleFormControlSelect1" (change)="dt.filter($event.target.value, col.field, 'contains')">
                          <option *ngFor="let stt of state" value="{{stt.value}}" >{{stt.label}}</option>
                        </select>
                      </div>

                      <div  *ngSwitchCase="'date'"  >

                        <div style="width: 100%; display: flex; flex-direction: row; height: 40px;">

                          <mat-form-field *ngSwitchCase="'date'" [ngStyle]="{width: dateSeach?'85%':'100%'}" >
                            <mat-label>Dia</mat-label>
                            <input autocomplete="off" (click)="picker1.open()" (dateChange)="onSelectDateFilter($event, col, dt)" matInput [matDatepicker]="picker1" [(ngModel)]="dateSeach" [formControl]="dateCalendar">
                            <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                            <mat-datepicker #picker1></mat-datepicker>
                          </mat-form-field>

                          <i *ngIf="dateSeach"  matTooltipPosition="above" matTooltip="Limpar Data" class="material-icons cleaner ml-2"  (click)="onClearClick(col, dt); dateSeach=null;">close</i>

                        </div>

                      </div>

                      <div class="form-group mb-0" *ngSwitchCase="'status'" (change)="dt.filter($event.target.value, col.field, 'contains')">
                        <select class="form-control" id="exampleFormControlSelect1">
                          <option *ngFor="let stts of status" value="{{stts.value}}" >{{stts.label}}</option>
                        </select>
                      </div>

                      <div *ngSwitchCase="'action'" ></div>
                  </th>
              </tr>
              <tr>
                <th   *ngFor="let col of columns"  style="text-align: center; padding: 0; background: #fff; border: none;">

                  <div *ngIf="col.field == 'city' && loading" class="div-spin" >
                    <div class="spinner-border text-success" role="status">
                      <span class="sr-only">Loading...</span>
                    </div>
                  </div>

                  <div *ngIf="col.field == 'city' && !loading" class="div-spin" >
                    <button (click)="requestData()" *ngIf="alert.status && alert.type == 'ERROR_REQUEST'" style="display: flex; flex-direction: row;" type="button" class="btn btn-outline-success">Tentar novamente
                      <i class="material-icons ml-2"  style="top: 10px;position: relative;font-size: 30px;">refresh</i>
                    </button>

                    <span *ngIf="alert.status && alert.type == 'EMPTY'" style="color: #058950; font-size: 20px;">Não há denúncias!</span>
                  </div>
                </th>
              </tr>


          </ng-template>

          <ng-template pTemplate="body" let-rowData let-columns="columns">

              <tr [pSelectableRow]="rowData">
                  <td *ngFor="let col of columns" style="text-align: -webkit-center;">

                    <span *ngIf="col.field == 'code' ">{{rowData[col.field ]}}</span>
                    <span *ngIf="col.field == 'type' ">{{rowData[col.field ]}}</span>
                    <span *ngIf="col.field == 'date' ">{{rowData[col.field ] | date: 'dd/MM/yyyy hh:mm aa'}}</span>
                    <span *ngIf="col.field == 'city' ">{{rowData[col.field ]}}</span>
                    <span *ngIf="col.field == 'state' ">{{rowData[col.field ]}}</span>


                    <div [ngClass]="setStatus(rowData[col.field])"  *ngIf="col.field == 'status'" style="justify-content: center; width: 100%; height: 25px; float: left; border-radius: 4px; display: flex; ">
                     <span style="float: left; font-weight: bold; position: relative; top: 2px;">{{textStatus}}</span >
                    </div>

                    <button  matTooltipPosition="above"
                    matTooltip="Visualizar" *ngIf="col.field == 'action' " style="display: flex; flex-direction: row;" type="button" class="btn btn-outline-primary" (click)="viewDenunciation(rowData['code'])">
                      <p  class="mb-0 visible-text-button">Visualizar</p>
                      <i class="material-icons  " >visibility</i>
                    </button>

                  </td>

              </tr>


          </ng-template>
                <div  style="width: 100%; height: 70px; background: rebeccapurple;"></div>
        </p-table> -->


    </div>
  </div>

